body {
  background-color: #2C2F33;
  color: white;
  position: relative;
}
a:link {
  color: rgb(0,100,255);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0,50,250);
  text-decoration: underline;
}

a:visited {
  color: rgb(0,50,250);
  text-decoration: none;
}
img {
  border: solid gray;
}

.navigation, .navigation:visited {
  color: rgb(0,100,255);
  text-decoration: none;
}

#webname {
  text-align: center;
  border: solid gray;
  padding: 5px;
  position: fixed;
  right: 4%;
  bottom: 95%;
}

#dk:active {
  transform: scale(0.5);
}