body {
  background-color: #2C2F33;
  color: white;
}
a:link {
  color: rgb(0,100,255);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0,50,250);
  text-decoration: underline;
}

a:visited {
  color: rgb(0,50,250);
  text-decoration: none;
}
img {
  border: solid gray;
}

.navigation, .navigation:visited {
  color: rgb(0,100,255);
  text-decoration: none;
}

#dk:active {
  transform: scale(0.5);
}

#starege {
  border: none;
  position: fixed;
  right: 4%;
  bottom: 4%;
  width: 10%;
  transition: width 0.7s;
}

#starege:active {
  width: 100%;
}